<h1> I KNOW HOW TO DO WEB STUFF </h1>

<p>
  Repo Name: <%= @facade.repo.name %>
</p>

<p>
  Owner Name: <%= @facade.owner.login %>
</p>

<p>
  Owner Id: <%= @facade.owner.id %>
</p>

<p>
  <%= image_tag @facade.owner.avatar_url %>
</p>